* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Verdana', sans-serif;
    background-color: #f3f3f3;
    text-align: center;
}
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.card {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.card-container {
    display: flex;
    flex-wrap: wrap; /* Para que las tarjetas pasen a otra línea si no caben */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Espaciado entre tarjetas */
}


section .card{
    position: relative;
    width: 215px;
    height: 315px;
    background-color: #fff;
    margin: 25px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    transition: 05s ease-in-out;
}

section .card ul{
    position: absolute;
    top: 130px;
    color: white;
    font-size: 14px;
    display: none;
}

section .card:hover ul{
    
    display: block;
    transition: 5s ease-in;
}
section .card:hover .circle{
    clip-path: circle(600px);
}
.card:nth-child(1) .circle{
    background-color: #fcb045;
}
.card:nth-child(2) .circle{
    background-color: #fc4343;
}
.card:nth-child(3) .circle{
    background-color: #9848cd;
}
.card:nth-child(4) .circle{
    background-color: #48cd7d;
}
.card:nth-child(5) .circle{
    background-color: #cd4884;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    max-width: 1500px;
}

.card .content p{
    position: absolute;
    top: 130px;
    transition: 0.5s ease-in-out;
    margin: 0 15px 0 15px;
    color: gray;
    font-size: 14px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transition: 0.5s ease-in-out;
}

.card .circle h2{
    font-size: 60px;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 250px;
    z-index: 10;
}

.card .circle img{
    color: red;
    position: absolute;
    bottom: 225px;
    z-index: 10;
}

.card:hover .circle{
    height: 100%;
    border-radius: 0;
}

.card:hover .content p{
    color: white;
}

.circle img {
    width: 80px;
    height: 80px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
button {
    padding: 10px;
    border: none;
    background: yellow;
    cursor: pointer;
}
@media (max-width: 768px) {
    .card {
        flex: 0 0 100%;
    }
}



